@charset "utf-8";

p {
  margin: 30px;
  border-width: thick;
  border-style: solid;
}

div {
  margin: 30px;
  border-width: 1px 4px 8px 12px;
  border-style: dotted;
  border-color: tomato;
}

div.border-style {
  margin: 30px;
  border-width: 4px;
  border-style: double dotted solid ridge;
  border-color: tan #0bd tomato #000;
}
